/*******************************
            Global
*******************************/

html {
  font-size: 14px;
}

/*******************************
            Global
*******************************/

#home .menu .right.menu > .mobile.item {
  display: none;
}

/*--------------
    Masthead
---------------*/

#home .masthead {
  margin: 0em;
  padding: 5rem 0rem;
}

#home .masthead .column {
  position: relative;
}

#home .masthead .information {
  margin: 1em 1em 1em 10%;
  float: left;
  width: 55%;
}
#home .masthead .information p {
  max-width: 600px;
}

#home .masthead .image {
  width: 30%;
  /*height: auto;
  position: absolute;
  left: 0%;
  bottom: -120px;*/
  float: left;
  display: block;
}

.masthead .image {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
}

#home .masthead {
  background-image: url("../images/black_lozenge.png");
  background-repeat: repeat;
}

#home .menu {
  box-shadow: 0px 0px 0px 0px;
  padding: 0rem -6rem;
  border-radius: 0px 0px 0px 0px;
}


/*--------------
    Ribbons
---------------*/

#home .segment h1 {
  font-size: 3em;
  margin-bottom: 0em;
}

#home .vertical.segment {
  padding: 7rem 0rem;
}

#home .vertical.segment {
  padding: 7rem 0rem;
}

#home .content.vertical.segment {
  padding: 1rem 0rem;
}

#home .feature.segment {
  margin: 0em;
  padding: 6rem 0rem;
}
#home .feature.segment p {
  min-height: 50px;
}

#home .selection.list {
  margin: 0em -0.5em;
}

#home .logo.row {
  height: 10rem;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 768px) {

  #home .menu .right.menu > .item {
    display: none;
  }

  #home .menu .right.menu > .mobile.item {
    display: block;
  }
  #home .menu .right.menu > .mobile.item .menu {
    left: auto;
    right: 0em;
  }

  #home h1 {
    font-size: 1.5em;
  }
  #home .masthead.segment .information {
    /*margin-left: 0;*/
  }

  #home .masthead.segment .button {
    font-size: 1rem;
  }

  #home .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  #home .overview .divided.grid .header + p {
    min-height: 0px;
  }

  #home .masthead.segment .column {
    font-size: 0.7rem;
  }

  #home .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
    #home .masthead.segment .information {
        /* margin-left: 0; */
        width: 100%;
        float: none;
        margin: 1em;
        font-size: 1.5em;
    }

    #home .masthead .image {
        width: 30%;
        float: none;
        display: block;
        margin: auto;
    }
}

.preformatted {
  white-space: pre-wrap;
  font-family: "Droid Sans Mono";
  font-size: small;
}

.offset:before { 
  display: block; 
  content: " "; 
  height: 50px;
  margin-top: -50px;  
  visibility: hidden; 
}

.display-popup {
  cursor: pointer;
}

.ui.segments {
  border: 0px;
}

a.link-bold {
  font-weight: bold;
}